/* цвет основного текста #757575 */
/* вторичный цвет #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона #2F303A */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bgc-color: #FFFFFF;
    --secondary-bgc-color: #F5F4FA;
    --hero-bgc-color: #2F303A;
    --white-color: #ffffff;
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bgc-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

.none {
    display: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Logo */

.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--title-text-color);
}


/* Page Header */
.main {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
display: flex;
align-items: center;
}


/* Site-nav */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
     padding-top: 32px;
     padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-icon {
    display: blok;
    margin-right: 10px;
    fill: currentColor; 
}


/* Contacts */
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 50px;
}

/* Hero */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    /* background-color: var(--hero-bgc-color); */
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-bgc-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), 
    url(../images/Hero.jpg);
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
}
         

/* Features */

.features {
    display: flex;
    margin-right: 30px;
}

.features .item + item {
    margin-left: 30px;
}

.features .title {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features p{
    margin-top: 0;
    margin-bottom: 0;
}

.features .text {
    font-size: 14px;
    line-height: 1.7;
}

.section-features {
    padding-top: 94px;
    padding-bottom: 0;
}
   .features .item {
       width: 270px;
       margin: 10px;
       padding: 10px;
       border-radius: 4px;
   }

.feateres-icon {
    display: flex;
    justify-content: center;
    background-size: contain;
    padding: 25px 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
   }

   /* .features .item::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-bgc-color);
}

.icon-antenna::before {
    background-image: url(../images/antenna-icon.svg); 
}
.icon-diagram::before {
    background-image: url(../images/diagram-icon.svg);
}
.icon-clock::before {
    background-image: url(../images/clock-icon.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut-icon.svg);
}  */

/* Examples */
.examples {
    display: flex;
}
.examples .item + .item {
    /* width: calc((100% - 60px) / 3); */
    margin-left: 30px;
}

.section-title {
    margin-bottom: 50px;
}

/* Work */
.command {
    display: flex;
    /* justify-content: space-between; */
}

.command .item + .item {
    margin-left: 30px;
}

.border {
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
}

.team-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.work .title {
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 10px;
    
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
    
.work .text {
    margin-top: 0;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team {
    background-color: var(--secondary-bgc-color);
}

.command-social-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.command-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
}  

.command-social-item + .command-social-item {
    margin-left: 10px;
}

.command-social-link:hover {
    fill: var(--white-color);
    background-color: var(--accent-color);
}



/* ----------Постоянные клиенты---------- */

.clients-title {
    margin: 0;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-icon {
    display: block;
    width: 106px;
    height: 60px;
    margin: 16px 32px;
    background-size: contain;
    fill: #AFB1B8;
}

.clients-icon:hover {
    fill: #2196F3;
}

.clients-item:hover {
    border-color: var(--accent-color);
}

.clients-item + .clients-item {
    margin-left: 30px;
}


/* Button */

.button {
    display: inline-flex;
    color: var(--primary-text-color);
    background-color: var(--primary-bgc-color);
 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* .button.link-mail::before {
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px; 
    background-image: url(../images/mail-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.button.link-tel::before {
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url(../images/smartphone-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */


.button.primary {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    background-color: var(--accent-color);
    color: var(--primary-bgc-color);
    border-color: var(--accent-color);

    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}

.button.link:hover,
.button.link:focus {
    display: flex;
    color: var(--accent-color);
}


/* Footer */

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-bgc-color);
}

.address {
    margin-bottom: 9px;
    margin-top: 20px;

    color: var(--white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-accent {
    color: var(--white-color)
}

.footer-nav {
    display: block;
    
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.footer-nav-mail {
    margin-bottom: 9px;
}

.footer-container {
    display: flex;
}

.footer-contacts {
    display: block;
    
}
/* -------------Social Links----------- */
.social {
    display: inline-block;
    
    width: 206px;
    height: 80px;   
    margin-left: 70px;
}

.social-title {
    margin:0;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.social-list {
    display: flex;
    width: 206px;
    margin: 0;
}

.social-item + .social-item {
    margin-left: 10px;
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover {
    background-color: var(--accent-color);
}


/* Page Portfolio */

.foto {
    display: flex;
    flex-wrap: wrap;
}

.foto .title {
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 4px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.foto .text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.foto p {
    margin-top: 0;
    margin-bottom: 0;
}

.foto-name {
    padding: 20px 24px;
}

.foto-elements {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    border: 1px solid #EEEEEE;
}

.foto-elements:hover {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-elements:nth-child(3n) {
    margin-right: 0;
}

.foto-elements:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

/* Buttons Portfolio */

.button-portfolio {
   padding: 6px 22px;

    color: var(--title-text-color);
    background-color: var(--secondary-bgc-color);
    border-color: var(--secondary-bgc-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
}

.button-portfolio.link:hover,
.button-portfolio.link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.buttons-list .item+.item {
    margin-left: 8px;
}